body {
    background-color: #f8f9fa;
}

.central-card {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: #ffffff; /* Cor padrão */
}

.central-card:hover {
    transform: scale(1.05);
    background-color: #d1ecf1; /* Cor azul clara quando o mouse passa por cima */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Pequena sombra para destacar */
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.footer {
    text-align: center;
    padding: 10px;
}