<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EUFT</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v={{ config['CACHE_BUSTER'] }}">

</head>
<body>
    
    <h1>Upload de Arquivo CSV</h1>
    
    <!-- Formulário para upload do arquivo CSV -->
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv" required>
        <button type="submit">Upload</button>
    </form>
    
    {% if show_buttons %}
        <!-- Botões visíveis após o upload do arquivo -->
        <button id="showResults">Mostrar Resultados</button>
        <button id="showErrors">Mostrar Erros</button>

        <div id="results" style="display:none;">
            <h2>Resultados</h2>
            {{ results|safe }}
        </div>

        <div id="errors" style="display:none;">
            <h2>Erros</h2>
            {{ errors|safe }}
        </div>
    {% endif %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
